lxml==4.1.1
tornado==4.5.3
numpy==1.16.4
pytest==3.3.2
passlib==1.7.0
blinker==1.4
pycrypto==2.6.1
Cython==0.29.13
pyOpenSSL==19.0.0
Sybase==0.35
aiohttp==3.5.4
anyjson==0.3.3
Babel==2.7.0
brotli==1.0.7
cdecimal==2.3
colour==0.1.5
cryptography==3.2
cx_Oracle==7.2.1
dataclasses==0.6
python_dateutil==2.8.0
python-dotenv==0.10.3
ecdsa==0.13.2
eventlet==0.25.0
furl==2.0.0
gevent==1.4.0
protobuf==3.9.1
greenlet==0.4.15
inotify==0.2.10
intervals==0.8.1
ipaddr==2.2.0
keyring==19.0.2
libmc==1.2.0
python_memcached==1.59
mx==3.2
ordereddict==1.1
PasteScript==3.1.0
pgdb==0.0.8
phonenumbers==8.10.16
pretty==0.1
pylibmc==1.6.0
pysqlcipher3==1.0.3
adhocracy_pysqlite==2.6.3
redis==3.3.6
setproctitle==1.1.10
simplejson==3.16.0
termcolor==1.1.0
usercustomize==1.0.0
uwsgi==2.0.18
watchdog==0.9.0
wincertstore==0.2
pytest_xdist==1.29.0
